<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
  </head>
  <body>
    <div id="container">
      <h1>You said '<%= word %>'</h1>
      <p>Say something new</p>
      <form method="post" action="/update_word">
        <input name="word" type="text">
        <input type="submit" value="Say!">
      </form>
    </div>
  </body>
</html>