<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container" class="page_not_found">
      <p class="bolder_header">404</p>
      <p class="bold_text">Oops, This Page Not Found!</p>
      <p class="lighter_title_text">The link might be corrupted</p>
      <p class="normal_text">or the page may have been removed</p>
    </div>
  </body>
</html>